@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --first-bg-color: #000000;
    --second-bg-color: #141414;
    --main-color: #057a9a;
    --main2-color: #676767;
    --text-color1: #ffffff;
    --text-color2: #000000;
    --text-color3: #ffac42;
    --shadow-color: #9c9c9c;
}

/* PRELOADER CSS */
.page-loader {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: #272727;
	z-index: 1000;
	.txt {
		color: #666;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-weight: bold;
		line-height: 1.5;
	}
}

/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background-color: #fff;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1s infinite ease-in-out;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

#video {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: black no-repeat center center/cover;
  }
   
  video {
    min-width: 100%;
    min-height: 10vh;
    z-index: 1;
  }
   
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
  }

  .navbar {
    padding: 20px 0px 20px 0px;
    font-family: "Poppins", sans-serif;
  }
   
  .navbar-brand {
    font-size: 30px;
    font-family: 'Poppins', cursive;
    color: var(--text-color1);
    font-weight: 700;
  }
   
  .nav-link {
    color: var(--text-color1);
    font-weight: 500;
  }
   
  .nav-link:hover {
    color: var(--main-color);
    font-weight: 500;
  }
   
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  #header {
    color: #fff;
  }
   
  #header h1 {
    font-size: 60px;
    font-family: "Abhaya Libre", serif;
    line-height: 0.9;
  }
   
  #header p {
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5rem;
  }
   
  #header button {
    font-size: 16px;
    font-weight: 800;
    padding: 12px 40px 12px 40px;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    border-color: transparent;
    box-shadow: 0 0 5px 1.5px var(--main-color);
    color: var(--text-color1);
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.2rem;
  }

  #header button:hover {
    background-color: var(--text-color1);
    color: var(--main-color);
    box-shadow: 0 0 5px 1.5px var(--text-color1);
    font-weight: 800;
  }
   
  @media (min-width: 720px) {

    #video {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    #header {
      margin: 0;
      width: 100%;
      position: absolute;
      top: 55%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
    }
    #header h1 {
      font-size: 90px;
      font-family: "Abhaya Libre", serif;
      line-height: 0.9;
    }
   
    #header p {
      font-size: 18px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
    }
  }