@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: myfont;
    src: url(font/Anurati-Regular.ttf);
}
:root {
    --first-bg-color: #000000;
    --second-bg-color: #141414;
    --main-color: #62CDFF;
    --main2-color: #e1e1e1;
    --text-color1: #ffffff;
    --text-color2: #000000;
    --text-color3: #ffac42;
    --shadow-color: #f0f0f0;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: var(--text-color1);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: myfont;
  letter-spacing: 1rem;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--first-bg-color);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
    right: 300px;
    box-shadow: 7px 5px 10px 0 var(--first-bg-color);
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  mix-blend-mode: overlay;
  opacity: 0.5;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
    margin-top: 4rem;
  font-size: 4rem;
  font-weight: 800;
  color: var(--text-color1);
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5rem;
}
.text h3
{
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color1);
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5rem;
}
.text p
{
  font-size: 1.2rem;
  color: var(--shadow-color);
  margin: 20px 0;
  font-weight: 500;
  max-width: 700px;
  margin-top: 2rem;
}
.text a
{
  display: inline-block;
  font-size: 1rem;
  background: var(--text-color1);
  padding: 10px 30px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0 var(--text-color1);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin-top: 4rem;
  color: var(--first-bg-color);
  transition: 0.2s;
  font-family: myfont;
  letter-spacing: 4px;
}
.text a:hover
{
  letter-spacing: 6px;
  box-shadow: 0 0 5px 0 var(--main-color);
  background: var(--main-color);
  color: var(--text-color1);
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-left: 2rem;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0,151,255,1) 22%, rgba(0,203,255,1) 52%, rgba(0,212,255,1) 100%);
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: var(--first-bg-color);
  font-weight: 600;
  font-family: myfont;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.menu ul li a:hover
{
  color: var(--main2-color); 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}